.thm-prose {
    @apply mx-auto;
    @apply max-w-xl;

    @apply prose-2xl;

    @apply prose-p:text-xl;
    @apply prose-p:text-primary-900;
    @apply prose-p:text-justify;

    @apply prose-figure:md:-mx-12;

    @apply prose-img:my-0;
    @apply prose-img:shadow-md;
    @apply prose-img:rounded-2xl;
}

/**
 * LIGHTBOX OVERRIDES
 */
.fslightbox-container {
    background: #fff !important;
}

.fslightbox-slide-btn {
    background: transparent !important;
}

.fslightbox-svg-path {
    fill: #94a3b8 !important;
}

.fslightbox-slide-number-container {
    color: #94a3b8 !important;
}

.fslightbox-toolbar {
    background: transparent !important;
}

.fslightbox-slash {
    background: #94a3b8 !important;
}

.fslightbox-source {
    max-width: 1024px !important;
    max-height: 1024px !important;
    object-fit: contain;
    filter: drop-shadow(0 1px 2px rgb(0 0 0 / 0.1)) drop-shadow(0 1px 1px rgb(0 0 0 / 0.06));
}